<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Cuenca Pelis+</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="information">
    <ion-card-header>
      <ion-card-title> {{ information.Title }} </ion-card-title>
      <ion-card-subtitle> {{ information.Year }} </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content text-center>
      <img [src]="information.Poster" class="info-img" />
      {{ information.Plot }}

      <ion-item lines="none">
        <ion-icon name="star-half" slot="start"></ion-icon>
        <ion-label>{{ information.imdbRating }}</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="clipboard" slot="start"></ion-icon>
        <ion-label text-wrap>{{ information.Director }}</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="people-circle-outline" slot="start"></ion-icon>
        <ion-label text-wrap>{{ information.Actors }}</ion-label>
      </ion-item>


      <ion-button
        expand="full"
        (click)="openWebsite()"
        *ngIf="information.Website && information.Website !='N/A'"
      >
        <ion-icon name="open" slot="start"></ion-icon>
        Open Website
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="enviarResena()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-button (click)="home()">
      <ion-icon name="home-outline"></ion-icon>
    </ion-fab-button>
    
  </ion-fab>

  

  <ion-list>
    <ion-list-header> Resenas </ion-list-header>

    <ion-item *ngFor="let resena of resenas | async">
      <ion-avatar slot="start">
        <img [src]="resena.poster" *ngIf="resena.poster != 'N/A'" />
      </ion-avatar>
      <ion-label (click)="verResena(resena.uid,resena.comentario,resena.idPelicula,resena.idUsuario,resena.poster,resena.title,resena.valoracion)">
        <h2>{{ resena.title }}</h2>
        <h3>{{ resena.valoracion }}</h3>
        <p>{{ resena.comentario }}</p>
      </ion-label>
    </ion-item>

    
  </ion-list>

  
  
</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-grid>
			<ion-row>
			  <ion-col>
				<div><ion-button color="light" (click)="menu('perfil')"><ion-icon name="person-outline"></ion-icon></ion-button></div>
			  </ion-col>
			  <ion-col>
				<div><ion-button color="light" (click)="menu('resenas')"><ion-icon name="reader-outline"></ion-icon></ion-button></div>
			  </ion-col>
			  <ion-col>
				<div><ion-button color="light" (click)="menu('lugares')"><ion-icon name="pin-outline"></ion-icon></ion-button></div>
			  </ion-col>
			</ion-row>
			
		  </ion-grid>
	</ion-toolbar>
</ion-footer>