<ion-header>
  <ion-toolbar>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<div>
		<ion-tem>
			<ion-label>
				Agregar imagen
			</ion-label>
			<ion-buttons slot="end">
				<ion-button>
					<label for="file-upload">
						<ion-icon slot="icon-only" name="images"></ion-icon>
					</label>
					<input (change)="newImagePerfil($event)" id="file-upload" style="display: none" type="file" accept="image/*">
				</ion-button>
			</ion-buttons>
			<img [src]="newImage">	
			
				<ion-card>
				  <img src="{{user.photoURL}}" />
				</ion-card>
		</ion-tem>
		<ion-item>
			<div>
				<ion-label position="stacked">Nombres</ion-label>
				<ion-input placeholder="{{user.displayName}}" [(ngModel)]="nombre"></ion-input>
			</div>
			<div>
				<ion-label position="stacked">Correo</ion-label>
				<ion-input placeholder="{{user.email}}" [(ngModel)]="correo"></ion-input>
			</div>
		</ion-item>
	</div>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button (click)="home()">
		  <ion-icon name="home-sharp"></ion-icon>
		</ion-fab-button>
	</ion-fab>

</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-grid>
			<ion-row>
			  <ion-col>
				<div><ion-button color="light" (click)="menu('perfil')"><ion-icon name="person-outline"></ion-icon></ion-button></div>
			  </ion-col>
			  <ion-col>
				<div><ion-button color="light" (click)="menu('resenas')"><ion-icon name="reader-outline"></ion-icon></ion-button></div>
			  </ion-col>
			  <ion-col>
				<div><ion-button color="light" (click)="menu('lugares')"><ion-icon name="pin-outline"></ion-icon></ion-button></div>
			  </ion-col>
			</ion-row>
			
		  </ion-grid>
	</ion-toolbar>
</ion-footer>

