<ion-header>
  <ion-toolbar>
    <ion-title>CuencaPelis+ Login</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="principal"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--Inputs Entrada de datos  Correo y Contrasena-->
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="2">
        </ion-col>
        <ion-col size="7">
          <div >
            <img id="imagenLogin" src="https://img.icons8.com/external-flat-icons-inmotus-design/67/000000/external-avatar-messenger-flat-icons-inmotus-design.png"/>
          </div>
        </ion-col>
        <ion-col size="3"> 
        </ion-col>
      </ion-row>
    </ion-grid>

    <div id="centrarInput">
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input [(ngModel)]="nombre"></ion-input>
      </ion-item>
    </div>
  
    <div id="centrarInput">
      <ion-item>
        <ion-label position="floating" >Contrasena</ion-label>
        <ion-input type="password" [(ngModel)]="contrasena"></ion-input>
      </ion-item>
    </div>
  </div>

  <!--Boton para aceptar la entrada de datos-->
  <div id="centrarBoton">
    <ion-button  expand="block" color="danger" (click)="validarUsuario()">Log In</ion-button>
  </div>
  <div >
    <ion-grid >
      <ion-row>
        <ion-col>
        </ion-col>
        <ion-col>
         <div >
          <img class="google" (click)="onSubmitLogin()" src="https://cdn-icons.flaticon.com/png/512/2875/premium/2875435.png?token=exp=1644792790~hmac=b9fbd7b10cf14e2926c97a02348242ab">
          
         </div>
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
  
 


</ion-content>
